CONFIGS=

# Address translation interface: pagemap or addrtran;
# addrtran kernel module will be available in next version
CONFIGS+= -D_ULCC_CONFIG_PAGEMAP
#CONFIGS+= -D_ULCC_CONFIG_KMODULE_ADDRTRAN

# Mount path of the address translator pseudo device;
# will be configurable in next version
#CONFIGS+= -D_ULCC_CONFIG_ADDRTRAN_DEVPATH="/tmp/ulcctran"

# Use page pipe to pass pages from memory manager to app;
# will be configurable in next version
#CONFIGS+= -D_ULCC_CONFIG_KMODULE_PAGEPIPE

# Mount path of pagepipe pseudo device; must set when pagepipe is enabled;
# will be configurable in next version
#CONFIGS+= -D_ULCC_CONFIG_PAGEPIPE_DEVPATH="/tmp/pagepipe"

# Use the mmap interface to set uncacheable
CONFIGS+= -D_ULCC_CONFIG_SETUC_MMAP
